* {
font-family: 'Fira Sans', sans-serif;
}



body {
    background-color: #334e58;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: 0;
    margin: 0;

}

h1 {
    color: black;
    font-size: 20px;

}

h2 {
    font-family: Arial;

}

button {
    transition: color 0.3s ease-in-out;
}


button:hover {
    color: #759EB8;

}